
@{
    Layout = null;
}
<link href="~/css/allerts.css" rel="stylesheet" />
@if (TempData["SuccessMessage"] != null)
{
    <div class="col-sm-12">
        <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">

            <i class="start-icon far fa-check-circle faa-tada animated"></i>
            <strong class="font__weight-semibold">Well done!</strong> @TempData["SuccessMessage"]
        </div>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="col-sm-12">
        <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">

            <i class="start-icon far fa-times-circle faa-pulse animated"></i>
            <strong class="font__weight-semibold">Oh snap!</strong> @TempData["ErrorMessage"]
        </div>
    </div>
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

 <link href="~/css/changepassword.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 <div id="box">
      
    <h1>Change Password <span>choose a good one!</span></h1>
     <form asp-controller="User" asp-action="ChangePassword">
        <p>
            <input type="password" value="" required name="CurrentPass" placeholder="Enter Current Password" id="" class="password">
            <button class="unmask" type="button"><i class="fa-regular fa-eye"></i></button>
        </p>
        <p>
            <input type="password" value="" required placeholder="Enter Password" id="p" name="NewPassword" class="password">
          <button class="unmask" type="button"><i class="fa-regular fa-eye"></i></button>
        </p>
        <p>
            <input type="password" value="" required placeholder="Confirm Password" id="p-c" name="ConfirmedNewPassword" class="password">
         <button class="unmask" type="button"><i class="fa-regular fa-eye"></i></button>
         <div id="strong"><span></span></div>
         <div id="valid"></div>
         <small>Must be 6+ characters long and contain at least 1 upper case letter, 1 number, 1 special character</small>
        </p>
        <input type='submit' id='do_login' value='Change Password' title='Change' style="
    background-color: #3733492b;
    border: none;
    box-shadow: 10px 14px 10px silver;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #818181;" />
    </form>
    <a class="backbtn" asp-action="Index" asp-controller="Home" style="    text-decoration: none;
    color: #7e7373;
    box-shadow: 10px 1px 10px silver;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: silver;">Return</a>
  </div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $(".alert").click(function () {
            $(this).fadeOut();
        });
    });

        document.querySelectorAll(".unmask").forEach(function (element) {
            element.addEventListener("click", function () {
                var input = this.previousElementSibling;
                if (input.getAttribute("type") === "password") {
                    input.setAttribute("type", "text");
                } else {
                    input.setAttribute("type", "password");
                }
                return false;
            });
        });

        document.querySelectorAll(".password").forEach(function (element) {
            element.addEventListener("keyup", function () {
                var p_c = document.getElementById("p-c");
                var p = document.getElementById("p");
                console.log(p.value + p_c.value);
                if (p.value.length > 0) {
                    if (p.value !== p_c.value) {
                        document.getElementById("valid").innerHTML = "Passwords Don't Match";
                    } else {
                        document.getElementById("valid").innerHTML = "";
                    }
                    var s = "weak";
                    if (p.value.length > 5 && p.value.match(/\d+/g)) s = "medium";
                    if (p.value.length > 6 && p.value.match(/[^\w\s]/gi)) s = "strong";
                    document.getElementById("strong").querySelector("span").className = s;
                    document.getElementById("strong").querySelector("span").innerHTML = s;
                }
            });
        });

    </script>




